.board {
    gap: 5px;
    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(5, minmax(150px, 150px));
    grid-template-rows: repeat(5, minmax(150px, 150px));
}