.gallery--container {
    height: 100%;
    
}

.gallery--title {
    color: var(--black);
    text-shadow: none;
    margin-top: 50px;
}

.feed {
    display: grid;
    margin: 50px 0;
    gap: 20px;
    grid-template-columns: repeat(3, minmax(auto, auto));

}

@media screen and (max-width: 1600px) {
    .feed {
        grid-template-columns: repeat(2, minmax(auto, auto));
    }
}

@media screen and (max-width: 1200px) {
    .feed {
        grid-template-columns: repeat(1, minmax(auto, auto));
    }
}

.feed-card {
    display: flex;
    align-items: center;
}

.feed-card  img{
    height: auto;
    width: 300px;
    align-self: flex-start;
}

.feed-card--content{
    padding-left: 20px;
}

.feed-card--content > a{
    display: inline-block;
    margin-top: 20px;
}