.menu--container { 
    background-position: center;
    background-image: url(../../../assets/img/initialbackground.jpg);
}

.menu--options-container {
    min-height: 50%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.menu--options-container button {
    margin: 20px;
}