.menu--container { 
    background-position: center;
    background-image: url(../../../assets/img/initialbackground.jpg);
}

.menu--content-container {
    min-height: 50%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.menu--options-container {
    min-height: 50%;
    display: flex;
    flex-direction: column;
}

.menu--options-container a {
    margin: 20px;
}