.initial-screen--container {
    height: calc(100vh - 92px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--terciary);
    background-position: center;
    background-image: url(../../../assets/img/initialbackground.jpg);
}

.initial-screen--wrapper  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.initial-screen--title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

/* @keyframes border-animation{
    0% {
        border-color: var(--dark);
    }
    25% {
        border-color: var(--primary);
    }
    50% {
        border-color: var(--secondary);
    }
    75%{
        border-color: #008F8C;
    }
    100%  {    
        border-color: var(--dark);    
    }   
} */