.memory-game--container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--backgroundGame);
    background-image: url(../../../assets/img/initialbackground.jpg);
}