.memory-game--container {
    justify-content: center;
    background-position: center;
    background-color: var(--backgroundGame);
    background-image: url(../../../assets/img/initialbackground.jpg);
}