:root {
  --primary: #027373;
  --secondary: #038C7F;
  --terciary: #A9D9D0;
  --dark: #054949;
  --text: #F2E7DC;
  --textSecondary: #0D0D0D;
  --backgroundGame: #22256a;
  --black: #000000;
  --white: #fff;
  --grey: #c1c1c1;
  --boardBorder: #522c2c;
  --buttonDisabled: #c7c7c7;
  --buttonPrimary: #027373;
  --buttonPrimaryHover: #05a796;
  --buttonPrimaryBorder: #034646;
  --buttonPrimaryBorderHover: #07776c;
  --buttonSecondary: #fff;
  --buttonSecondaryHover: #c4c4c4;
  --buttonSecondaryBorder: #252525;
  --buttonStart: #bf2424;
  --buttonStartHover: #d45353;
  --buttonStartBorder: #7f1919;
  --buttonStartBorderHover: #963b3b;
}

body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}